<div>
  {{chapter?.number}}
</div>

<div class="description">
    {{chapter?.description}}
</div>
  
<ul class="navigation">
    <li *ngFor="let navigationChapter of chapter?.navigationChapters">
      <button class="chapterButton" type="button" (click)="setChapterId(navigationChapter.chapterId)">
        <span class="badge">{{navigationChapter.number}}</span>
      </button> 
    </li>
          <!-- <a routerLink="/books/{{chapter.bookId}}/chapters/{{navigationChapter.chapterId}}">
        <span class="badge">{{navigationChapter.number}}</span>
      </a> -->
</ul>
  