<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h1>
    {{currentUser?.userName}}
  </h1>
</div>

<nav *ngIf="currentUser">
  <a routerLink="/books">Books</a>
</nav>
<nav *ngIf="currentUser">
  <a routerLink="/games">Games</a>
</nav>
<nav *ngIf="!currentUser">
    <a routerLink="/registration">Registration</a>
</nav>
<nav *ngIf="!currentUser">
    <a routerLink="/login">Login</a>
</nav>

<button *ngIf="currentUser" (click)="logout()">Logout</button>

<router-outlet></router-outlet>
<!-- <app-messages></app-messages>  -->
