<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    {{currentUser?.userName}}
  </h1>
</div>

<nav>
  <a routerLink="/books">Books</a>
</nav>
<nav>
  <a routerLink="/games">Games</a>
</nav>
<nav>
    <a routerLink="/registration">Registration</a>
</nav>
<nav>
    <a routerLink="/login">Login</a>
</nav>

<button (click)="logout()">Logout</button>

<router-outlet></router-outlet>
<!-- <app-messages></app-messages>  -->
