<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h1>
    {{currentUser?.userName}}
  </h1>
</div>

<nav>
  <a *ngIf="currentUser" routerLink="/books">Books</a>
  <a *ngIf="currentUser" routerLink="/games">Games</a>
  <a *ngIf="!currentUser" routerLink="/registration">Registration</a>
  <a *ngIf="!currentUser" routerLink="/login">Login</a>
  <a *ngIf="currentUser" (click)="logout()">Logout</a>
</nav>

<!-- <button *ngIf="currentUser" (click)="logout()">Logout</button> -->

<router-outlet></router-outlet>
<!-- <app-messages></app-messages>  -->
